// Body
$body-bg: #f8fafc;

//gradient
$background-gradient: linear-gradient(90deg, rgba(48,110,157,1) 0%, rgba(0,204,255,1) 100%);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$lightGrey: #f7f7f7;
$midGrey: #818181;
$borderGrey: #d8d8d8;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//border-radius
$std-radius: 15px;
