// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Font fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Variables
@import 'variables';

//Ui Elements @mixin
@import 'mixins/ui_elements';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

/* -------------------------------- Background -------------------------------- */
nav {
    background: $background-gradient;
}

/* -------------------------------- Cards -------------------------------- */
.cardHeaderSimple {
  @include internalCardHeader();
  background-color: $lightGrey;
  border-bottom: 1px solid $borderGrey;
}

/* -------------------------------- Inputs -------------------------------- */
.editInputSimple {
    @include editInput();
}
