@mixin border-radius($property) {
  border-radius: $property;
}

@mixin border-radius-left($property) {
  border-radius: $property 0px 0px $property;
}

@mixin border-radius-right($property) {
  border-radius: 0px $property $property 0px;
}

@mixin internalCardHeader() {
    padding: 0.75rem 1.25rem;
    background-color: $lightGrey;
    border-bottom: 1px solid $borderGrey;
}

@mixin editInput() {
    text-align: left;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid $borderGrey;
    width: 80%;
    color: #818181;
    padding: 5px !important;
    margin-top: 25px;

    &:hover {
        background: $lightGrey !important;
        transition: all 1s;
        cursor: text;
        border-radius: 5px 5px 0 0;
    }
}
